.list-group .list-group-item {
  color: #5a4099;
}

.list-group .list-group-item.active {
    background-color: #5a4099;
    color: white;
  border: none;
}

.list-group .list-group-item:hover {
  background-color: #5a4099;
  color: white;
}